<div class="d--flex align-items--center mb-40">
  {%- render 'icons-sprite-icon', id: 'icon-caret', size: 8, class: 'rotate--180 mr-10' -%}
  <a class="link text--md" href="{{ routes.account_url }}">
    {{- 'customer.account.breadcrumb_text' | t -}}
  </a>
</div>
