{{- 'template-404.css' | asset_url | stylesheet_tag -}}

<h1 class="page-title">
  {{- section.settings.title | default: 'Page not found' -}}
</h1>


{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "class": "page-width page-section page-top",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
